*, *::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #050505;
  margin: 0;
}

nav ul {
  list-style-type: none;
  
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover,
.more-p a:hover {
  color: #93867F;
}

/* typography */

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8475rem;
  display: inline;
}

h2 {
  margin: 0;
}

p {
  line-height: 1.25;
}

.title {
  font-size: 2rem;
}

nav a{
  color: #090909;
  cursor: pointer;
}

nav a,
.more-p {
  font-weight: 700;
}

nav a:hover,
nav a:focus {
  text-decoration-line: underline;
}

.date,
nav a {
  text-transform: uppercase;
}

.hero-article p a,
.container p a {
  text-decoration: none;
  color: #F39C6B;
}

.hero-article p a:hover,
.hero-article p a:focus,
.container p a:hover,
.container p a:focus{
  color: #93867F;
}

footer {
  font-size: .75rem;
}

/* layout */

.blog-title {
  color: #141414;
}

.container {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  border-radius: 5px;
}

.border {
  border: 1px solid #202020;
}

nav ul,
.header {
  display: flex;
}

header {
  padding: 1em;
  margin-bottom: 2.125em;
}

.header {
  justify-content: space-between;
}

nav ul {
  gap: 2em;
  margin: 0;
}

.hero-article {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url(images/article-image-hero.png);
  color: #ffffff;
  background-size: cover;
  margin-bottom: 1em;
  padding: 2.125em 1em 1.5em 1em;
}

.more-p,
footer {
  text-align: center;
}

.more-p a{
  color: #000000;
  text-decoration-line: underline;
}

footer {
  background: #202020;
  padding: 2em;
  width: 100%;
}

footer p {
  font-weight: 400;
  color: #d7d7d7;
  margin-top: .5em;
}

footer h4 {
  color: #ececec;
  margin-bottom: 0;
}

.hide {
  display: none;
}

/* icons */

.fa-brands,
.fa-envelope {
  color: #d7d7d7;
  font-size: 2rem;
  margin-left: 1em;
  margin-top: .8em;
}

.fa-brands:hover,
.fa-envelope:hover {
  color: #93867F;
}

.icons h4 {
  text-transform: capitalize;
}

/* media-queries */

@media (min-width: 768px) {
  /* typography */
  body {
    font-size: 1.05rem;
  }

  .title {
    font-size: 2.25rem;
  }

  h1,
  .fa-blog {
    font-size: 1.2525rem;
  }

  .hide {
    display: block;
  }

  .blogs-container {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .more-p{ grid-column: 1 / -1;}

  .hero-article {
    padding-top: 15em;
    padding-right: auto ;
  }

  .hero-article .container {
    margin: 0;
    max-width: 750px;
    padding-left: 3.3125em;
    padding-bottom: 3.6875em;
  }

  .footer {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .icons {
    display: grid;
    grid-template-columns: repeat(2, min-content);
  }

  .icons h4 {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

